# Ignore all files without extension
!Makefile

# IDE dirs/files
.pio
.pioenvs
.piolibdeps
.vscode
/backup
platformio.ini

# Arduino Files
src/main\.cpp

# Build dirs/files
build
*.gcno
*.o
*.gcda
ArduinoJStream
ArduinoJStream.zip