# Ignore all files without extension
!Makefile

# IDE dirs/files
.pio
.pioenvs
.piolibdeps
.vscode
/backup
platformio.ini

# Arduino Files
src/main\.cpp

# Dependencies
test/Arduino/
lib/MockArduinoNative/
test/MockArduino/

# Build dirs/files
build
*.gcno
*.o
*.gcda
ArduinoJStream
ArduinoJStream.zip