# Ignore all files without extension
!Makefile

.pio
.pioenvs
.piolibdeps
.vscode
/backup
platformio.ini

build
test/main\.cpp
src/main\.cpp
lib/MockArduinoNative/
test/MockArduino/

ArduinoJStream
ArduinoJStream.zip
